@model IEnumerable<LibraryMangementSystem.ViewModels.BorrowingHistoryViewModel>

@{
    ViewData["Title"] = "BorrowingHistory";
}
<h1 class="text-center mb-4">Borrowing History</h1>

<div class="card mx-auto" style="max-width: 1000px;">
    <div class="card-body">
        <table class="table table-hover table-responsive">
            <thead class="table-dark text-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BookName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CheckoutDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReturnDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PenalityAmount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckoutDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReturnDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PenalityAmount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

