@model LibraryMangementSystem.ViewModels.MemberInformationViewModel

@{
    ViewData["Title"] = "MemberInformation";
}

<div class="card mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <h4 class="card-title">Your Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
        </dl>
        <div class="text-center mt-4">
            <a asp-action="BorrowingHistory" class="btn btn-primary">Borrowing History</a>
        </div>
    </div>
</div>
